@import '../../../styles/main.scss';

.left__info {
    margin-left: 2rem;
    width: 100%;
    padding: 0.5rem 1.2rem 1rem 1.2rem;
}

.right__info {
    margin-left: 0.5rem;
    padding: 0.5rem 1.2rem 1rem 1.2rem;

    &--legend {
        margin-bottom: 1.2rem;
    }
}

.image {
    height: 20rem;
}

span {
    text-decoration: underline;
}
